<div class="member-container">
	<div class="member-inner">
		{{#link-to 'member' data.id}}
		<div class="front" {{bind-attr style=inlineStyle}}>
			<img class="party-logo" {{bind-attr src=data.party.imageUrl}}>
			<div class="name">
				<span class="badge">{{number-incrementor index}}</span> {{data.name}}
				<h3 class="grade">
					{{data.grade}}
				</h3>
			</div>
		</div>	
		{{/link-to}}
	</div>
</div>